nav{
    z-index: 1;
      background: white;
      height: 100px;
      width: 100%;
      padding-top: 0px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      position: fixed;
      
  
    }
    .index_sub8{
      z-index: 3;
    }
    .index_nav_img{
      width: 296px;
      margin-top: -20px;
      padding-left: 30px;
      
    }
    @media screen and (min-width: 1072px){
      .index_nav_ul{
        padding-top: 10px;
        width: 55%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;   
        margin-top: 0px;
      }
      .index_nav_li{
        text-align: center;
        padding-right:55px;
        padding-bottom: 30px;
        
      }
      .index_li{
        border-right: 1px solid gray;
        height: 60px;
              
      }

      
     
      
      
    
    }
    
    
    label.logo{
      color: white;
      font-size: 35px;
      line-height: 80px;
      padding: 0 100px;
      font-weight: bold;
    }
    nav ul{
      float: right;
      margin-right: 20px;
      font-family: poppins;
      font-size: 22px;
      font-weight: 700;
    }
    nav ul li{
      display: inline-block;
      line-height: 80px;
      margin: 0 5px;
    }
    nav ul li a{
      color: rgb(0, 0, 0);
      font-size: 17px;
      padding: 7px 13px;
      border-radius: 3px;
      font-weight: 700;
      font-family: poppins;
      
    }
    nav ul li a:hover{
      color: black;
      font-size: 19px;
      background-color: transparent;
      text-decoration: none;  
    }
    nav li:last-child a {
      background-color: #FD8601;
      color: black;
      padding: 0px 20px 0px 20px;
      border-radius: 13px;
      transition: background-color 0.3s;
      border-right: none ; 
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    
    }
    a.active,a:hover{
      transition: .5s;
    }
    .checkbtn{
      font-size: 30px;
      color: #571970;
      float: right;
      line-height: 80px;
      margin-right: 40px;
      cursor: pointer;
      display: none;
    }
    #check{
      display: none;
    }
    
    
    @media (max-width: 952px){
      label.logo{
        font-size: 30px;
        padding-left: 50px;
      }
      nav{
        height: 80px;
      }
      .index_nav_img{
        width: 200px;
      
      }
      nav ul li a{
        font-size: 16px;
        color: rgb(0, 0, 0);
      }
    }
    @media (max-width: 858px){
      
      .checkbtn{
        display: block;
      }
     nav ul{
        
        position: fixed;
        width: 100%;
        height: 100vh;
        background: white;
        top: 60px;
        left: -110%;
        text-align: center;
        transition: all .5s;
      }
      nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
      }
      nav ul li a{
        font-size: 20px;
        color: black;
      }
      a:hover,a.active{
        background: none;
        
      }
      #check:checked ~ ul{
        left: 0;
      }
    }
    section{
      background: url(bg1.jpg) no-repeat;
      background-size: cover;
      height: calc(100vh - 80px);
    }
    .logo img{
      height: 100%;
    }

/* 
    ____________________________________________________footer__________________________________________________________________ */


    body {
      background: #e8e9eb;
      color: black;
    }
    .footer_class8{
      background-color: rgb(239,239,239);
      padding: 40px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-family: poppins;
    }
    .footer_class9 img{
      margin-top: -50px;
      
    }
    .footer_class9 p{
      color: #555555;
      
    }
    .footer_class8 h3{
      font-weight: 600;
      font-size: 28px;
    }
    .footer_class13{
      padding-left: 25px;
    }
    .footer_class11 h3{
      margin-left: 40px;
    }
    .footer_class13 li{
      list-style-type: none;
      padding-bottom: 29px;
      color: #555555;
    }
    .footer_class13 a{
      text-decoration: none;
      color: #555555;
      font-weight: 500;
    }
    .footer_class15{
      padding-left: 40px;
      margin-top: -80px;
      font-weight: 100;
      font-size: 16px;
      font-family: poppins;
    }
    .footer_class15 span{
      color: #FD8601;
    }
    
    .footer_class12{
      text-align: center;
    }
    .footer_class12 input{
      width: 259px;
      height: 24px;
      padding: 10px;
      border: none;
      border-radius: 8px;
    }
    .footer_class12 p{
      color: #555555;
    }
    
    @media screen and (max-width: 1071px){
    .footer_class8{
      display: block;
      text-align: center;
    }
    .footer_class11{
      text-align: center;
      margin-left: auto;
      margin-right: 35px;
    }
    .footer_class13{
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
    .footer_class13 ul{
      margin-left: auto;
      margin-right: auto;
    }
    .footer_class15 {
      text-align: center;
      
    }
    .footer_class15 h5{
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    }
    .footer_class11 img{
      margin-left: -15px;
    }
    }
    .footer_class10 a{
      padding-right: 20px;
    }
    .container-footer .a10{
      display: block;
      block-size: auto;
    }
    .footer-column{
      display: block;
      width: 100%;
    }
    .footer-titles1{
      padding: 10px 0px;
      font-size: 33px;
      font-weight: 700;
    }
    
    @media screen and (max-width: 480px) {
      .a6 {
        max-width: 100px;
        height: auto;
      }
    
      .footer-titles {
        font-size: 16px;
      }
      .footer-titles1{
        font-size: 16px;
        font-weight: 700;
      }
    }
    