@import url('http://fonts.cdnfonts.com/css/gilroy-bold');

* {
  margin: 0;
  padding: 0;
}
/*
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
*/
:root {
  /*========== Colors ==========*
    --primary-color: #FA8F14;
    --secondary-color: #f0f6fb;
    --primary-color-bg: #fff;
    --title-color: #222222;
    --text-color: #666666;
    /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 2.7rem;
  --h2-font-size: 2.2rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-black: 900;

  /*========== Margenes ==========*/
  --m-0-25: 0.25rem;
  --m-0-5: 0.5rem;
  --m-0-75: 0.75rem;
  --m-1: 1rem;
  --m-1-5: 1.5rem;
  --m-2: 2rem;
  --m-2-5: 2.5rem;

  /*========== Box Shadow and Border ==========*/
  --shadow-1: 0 4px 24px 0 rgba(0, 0, 0, 0.08);
  --border-1: 1px solid rgba(0, 0, 0, 0.08);
}

/* Responsive typography */
@media screen and (min-width: 992px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}




/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: var(--body-color);
  color: var(--text-color);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button,
input,
textarea {
  border: none;
  outline: none;
  font-family: var(--body-font);
}

button {
  cursor: pointer;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  padding: 4px 0px;
  color: #111;

}



/* main container */
.main-container {
  width: 100%;
  height: 100vh;
}

.area {
  background: #f5d1a8;
  /* background: linear-gradient(rgba(250, 143, 20, 0.185),rgba(250, 143, 20, 10%)) */
  /* background: -webkit-linear-gradient(to bottom, #f8dbba, #f9f2e9);   */
  background: -webkit-linear-gradient(to left, rgba(250, 143, 20, 0.185), rgba(250, 143, 20, 10%));
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;

}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgb(222, 182, 136);
  animation: animate 25s linear infinite;
  bottom: -150px;

}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 10s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 20%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 35%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 58%;
  width: 110px;
  height: 110px;
  animation-delay: 9s;
  animation-duration: 12s;
}

.circles li:nth-child(7) {
  left: 10%;
  width: 130px;
  height: 130px;
  animation-delay: 4s;
  animation-duration: 15s;
}

.circles li:nth-child(8) {
  left: 20%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 20s;
}

.circles li:nth-child(9) {
  left: 40%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 15s;
}

.circles li:nth-child(10) {
  left: 45%;
  width: 150px;
  height: 150px;
  animation-delay: 1s;
  animation-duration: 11s;
}

.circles li:nth-child(11) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 5s;
  animation-duration: 15s;
}

.circles li:nth-child(12) {
  left: 4%;
  width: 150px;
  height: 150px;
  animation-delay: 6s;
  animation-duration: 17s;
}

.circles li:nth-child(13) {
  left: 92%;
  width: 100px;
  height: 100px;
  animation-delay: 5s;
  animation-duration: 10s;
}

.circles li:nth-child(14) {
  left: 5%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(15) {
  left: 87%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
}

.circles li:nth-child(16) {
  left: 50%;
  width: 20px;
  height: 20px;
  animation-duration: 20s;
}

.circles li:nth-child(17) {
  left: 46%;
  width: 30px;
  height: 30px;
  animation-duration: 20s;
}

@keyframes animate {

  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }

}

.main-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background-size: contain;
  background-repeat: no-repeat;

}

/*--------------------------------------------------------------------------------------------------------- content container----------------------------------------------------------------------------------*/

.container200 {
  overflow-x: hidden;
  height: 90%;
  display: flex;
  flex-direction: column;
  /* justify-content: center;          this is very imp  */
  justify-content: center;
  /* margin-top: 3%; */
  padding: 50px;
  margin-top: 80px;
  align-items: center;
  padding-top: 100px;
}

.bottom200 {
  height: 52%;
  width: 100vw;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: row;
  font-family: 'Gilroy-Medium', sans-serif;
  color: #4A2A51;
}

.top200 h4 {
  font-size: 50px;
  color: #4A2A51;
}

.top200 .highlight200 {
  background-color: rgba(105, 102, 102, 0.25);
  border-radius: 10px;
  color: #111;
  padding: 0.2% 2%;
  margin: 14px 1% 0 1%;
  text-align: center;
}

.button200 button {
  background: #4A2A51;
  color: white;
  height: 38px;
  width: 115px;
  border: none;
  margin-top: 18px;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0px 10px 40px 0px rgba(105, 102, 102, 0.25);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.button200 a {
  color: white;
}

.button200 button:hover {
  background: #82538d;
}

.left200 {
  width: 50vw;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin-left: 5%;
  height: 100%;
  padding-left: 6%;
  animation: slide-right 1s linear forwards;
}

@keyframes slide-right {
  0% {
    transform: translate(100px);
    opacity: 0;
  }

  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

/* #back-video{
  width: 150px;
  height: 150px;
  z-index: -1;
} */
/* .left200 .head200{
  width: 100%;
} */
.head200 h3 {
  font-size: 48px;
  font-family: 'Gilroy-Medium', sans-serif;
  font-weight: 600;
  color: #4A2A51;
  margin-top: 10%;
}

.para200 {
  width: 70%;
}

.para200 p {
  font-size: 19px;
  padding: 1%;
  font-weight: 500;
  margin-top: -2% !important;
}

.knowmore200 button {
  border: 1px solid #4A2A51;
  color: #4A2A51;
  background: none;
  cursor: pointer;
  border-radius: 10px;
  height: 31px;
  width: 86px;
}

.knowmore200 button:hover {
  background: #40134b;
  color: beige;
}

.left200 div {
  margin: 2.5% 0px;
}

.play200 {
  height: 15px;
  width: 15px;
}

.star200 img {
  width: 21px;
  height: 21px;
}

.we200 {
  /* border: 1px solid black; */
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  height: 41px;
  width: 313px;
  background: linear-gradient(112.89deg, rgba(74, 42, 81, 0.06) 1.18%, rgba(74, 42, 81, 0.17) 100%);
}

.right200 {
  width: 50vw;
  /* border: 2px solid black; */
  display: flex;
}

.image {
  margin-left: 14%;
  margin-top: -3.5em;
}

.right200 img {
  height: 410px;
  width: 410px;
}

.show200 {
  margin-top: 80px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 25px;
  background: linear-gradient(#f4d7ae, #f9e9d3);
  box-shadow: 0 1px 20px rgba(39, 38, 36, 0.4);
  line-height: 28px;
  color: #4B2951;
  font-weight: bolder;
  font-size: 30px;
  letter-spacing: 0.04em;
  /* position: absolute; */
  width: 80%;
  height: 120px;
  /* left: 106px;
  right:80px;
  top: 687px; */
  background: #F6E1C2;
  margin-right: auto;
  margin-left: auto;
  padding-top: -20px;
}

.learn200 h4 {
  font-size:800px;
}

@media screen and (max-width: 768px) {
  .show200 {
    width: 90%;
    
    padding: 0px;
    
    line-height: 28px;
    letter-spacing: 0.03em;
    margin-top: -150px;
    padding-left: 0px;
    padding-right: 0px;
    width: 25px;
   margin-top: 80px;
    left: 10px;
    height: 40px;
    

  }
  .show200 hr{
    display: none;
    height: 30px;
    border: 0.1px solid rgb(104, 101, 101, 0.78);

  }
.learn200 h4{
  font-size:13px;
  height: 40px;
  border-right: ;
  text-align: center;
  padding-right: 10px;
}
.learn200 img{
  display: none;
}

  .learn200 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 20px 0 20px;
    

  }

  .show200 {
   
    line-height: 24px;
  }
}



.learn200 {
  margin: 1.5% 0;
  height: auto;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.learn200:hover {
  transform: scale(1.1);
}

/* .learn200:not(:last-child) {
	border-right: 2px solid rgb(104, 101, 101, 0.78);
} */
.learn200 img {
  width: 64px;
  padding-bottom: 20px;
  height: 90px;
}

.learn200 h4 {
  font-size: 28px;
  margin-top: 1.5%;
  color: #4A2A51;
}

.show200 hr {
  margin: 1% 1%;
  height: 80px;
  border: 0.1px solid rgb(104, 101, 101, 0.78);
}


.book-trans {
  height: 50px !important;
  width: 50px !important;

}

@media only screen and (min-width:620px) and (max-width:781px) {
  .head200 h3 {
    font-size: 1.9em;
  }

  .right200 img {
    height: 300px;
    width: 300px;
  }

  .image {
    margin-left: 5%;
    margin-top: -2.5%;
  }

  .para200 {
    width: 90%;
  }

  .para200 p {
    font-size: 1.1em;
  }

  .top200 h4 {
    font-size: 45px;
  }

  .show200 {
    width: 90%;
  }

  .learn200 h4 {
    font-size:10px;
  }

  .learn200 img {
    width: 29px;
    height: 26px;
  }

}



@media only screen and (max-width:620px) {

  /* .container200{
    margin-top: 7%;
  } */
  /* .bottom200{
      display: flex;
       flex-wrap: wrap; 
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
  } */
  .top200 {
    height: 25%;
  }

  .top200 h4 {
    font-size: 42px;
  }

  .top200 .head200 {
    align-items: center;
    text-align: center;

  }

  .left200 {
    width: 97vw;
    padding: 0px 0px;
    margin: 0 2%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .head200 h3 {
    font-size: 2em;
  }

  .para200 {

    width: 70%;
  }

  .left200 div {
    padding: 0px 0px;
  }

  .right200 {
    width: 100vw;
    display: none;
  }

  .show200 {
    width: 98%;
    height: 7%;
  }

  .learn200 img {
    width: 29px;
    height: 25px;
  }

  .learn200 h4 {
    font-size: 10px;
  }

 
}

@media only screen and (max-width:350px) {
  .top200 h4 {
    font-size: 28px;
  }

  .head200 h3 {
    font-size: 1.5em;
  }

  .para200 {
    width: 90%;
  }

  .para200 p {
    font-size: 17px;
  }

  .hidden-content {
    display: none;
  }

}

/* tablet */
@media only screen and (min-height:1000px) {
  .area {
    height: 58vh;
    top: 0;
    background: #f4d1a9;
  }

  .main-container {
    height: 58vh;
    top: 0;
  }

  .circles {
    height: 60%;
  }
}

@media only screen and (min-height:810px) and (max-height:1000px) {
  .area {
    height: 77vh;
    top: 0;
    background: #f4d1a9;
  }

  .main-container {
    height: 77vh;
    top: 0;
  }

  .circles {
    height: 77%;
  }

  /* .container200{
    margin-top: 10%;
  } */
}


/*---------------------------------------------------------------------- footer----------------------------------------------------------------------------*/